PORT=8080
AUTH0_DOMAIN=dev-6axm0kofekefwnwj.us.auth0.com
AUTH0_AUDIENCE=https://api.weather-analytics.com
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5
OPENWEATHER_API_KEY=openweather_api_key
REDIS_PASSWORD=
CACHE_TTL_SECONDS=300